.mobile-message {
  background-color: #ffffffe5;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  margin-top: 0px;
  top: 0px;
}

.mobile-message button {
  margin: auto;
  display: block;
  font-size: 1.4em;
  /* padding: 10px 20px; */
  height: 50px;
}

.mobile-message p {
  color: white;
  text-align: center;
  line-height: 1.8em;
  font-size: 1.8em;
  width: 300px;
  margin: 100px auto 20px;
}

.mobile-message p span {
  background-color: #1d1d1d;
  padding: 0.5rem 0;
  -webkit-box-shadow: 1rem 0px 0px #1d1d1d, -1rem 0px 0px #1d1d1d;
  box-shadow: 1rem 0px 0px #1d1d1d, -1rem 0px 0px #1d1d1d;
  -webkit-box-decoration-break: clone;
  -moz-box-decoration-break: clone;
  box-decoration-break: clone;
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .mobile-message {
    display: none;
  }
}

.container {
  margin-top: 100px;
}
#mainContainer {
  margin-top: 40px;
}

.header-container {
  text-align: center;
}

.header-container h1 {
  position: relative;
  right: -15px;
  margin-bottom: 0px;
}

.book-storm {
  margin: auto;
  width: 200px;
  display: block;
}

.centered-text {
  width: 50%;
  margin: auto;
  text-align: center;
}

.title-strike {
  text-decoration: line-through;
}

.title-sub {
  position: relative;
  bottom: 30px;
  right: 75px;
}
.flex-container {
  display: flex;
  align-items: flex-start;
}
.header {
  font-weight: bold;
}

.header-image {
  background-image: url(/images/book-cover.jpg);
  height: 300px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.scroll-table {
  overflow-y: auto;
  height: 400px;
}
.map-highlighted-border {
  stroke: black;
  stroke-width: 3px !important;
}
.map-hovered-border {
  stroke: black;
  stroke-width: 1px;
}
.section {
  margin: 100px 0px;
}

.section:nth-of-type(1) {
  margin-top: 100px;
}

p {
  font-size: 1.2em;
  line-height: 2.3em;
}

#hoverBox {
  background-color: #fff;
  position: fixed;
  border: solid 1px #ccc;
  padding: 10px 20px;
}

#hoverBox * {
  margin: 0px;
}

#hoverBox .bookCount {
  font-size: 1.2em;
  font-weight: 800;
}

#hoverBox .instruction {
  font-size: 0.9em;
}

#toolTip {
  background-color: #fff;
  position: fixed;
  border: solid 1px #ccc;
  padding: 10px 20px;
}

#toolTip * {
  margin: 0px;
}

#toolTip .bookCount {
  font-size: 1.2em;
  font-weight: 800;
}

#toolTip .instruction {
  font-size: 1.2em;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gridlines {
  stroke: #cfcfcf;
  opacity: 0.1;
}

#words * {
  cursor: pointer;
}

#booksList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#booksList .bookTitle {
  cursor: help;
  background-color: #e9e9e9;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 20px;
  text-align: center;
}

.bookListHoverBoxContent {
  /* Your styling here. Example: */
  padding: 2rem;
}

.bookListHoverBoxContent .bookListHoverTextLine {
  margin: 0px;
  line-height: 1.4em;
}

.bookListHoverBoxContent .bookListTitle {
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: 5px;
}

#booksListContainerBtn {
  text-align: center;
  margin-top: 20px;
}

#booksListContainer {
  margin-bottom: 60px;
}

#booksListContainer a {
  cursor: pointer;
  background-color: #1eaedb;

  color: #fff;
  text-decoration: none;
  font-weight: 800;
  padding: 10px 20px;
  border-radius: 20px;
}

#booksListContainer a:hover {
  background-color: #0fa0ce;
}

.bookListHoverBoxContent .bookListBannedCount {
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: 5px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.2);
  padding: 5px 20px;
  margin: 5px;
  border-radius: 20px;
}

.bookListHoverBoxContent hr {
  margin: 15px 0px;
}

.bookListHoverBoxContent #bookListAuthor {
  font-size: 0.9em;
  font-weight: 800;
  color: grey;
}

.bookListHoverBoxContent .bookListPlaceTableRow {
  width: 100%;
}
.bookListHoverBoxContent table {
  width: 100%;
}

.bookListHoverBoxContent .stateName {
  font-weight: 800;
}

.bookListHoverBoxContent .countBar {
  font-weight: 800;
  color: rgba(255, 0, 0, 0.8);
  letter-spacing: -4px;
}

.booksListTitle {
  text-align: center;
  margin-bottom: 0px;
}

#bookSearchList ul {
  list-style-type: none;
}

.accordion-container {
  height: 600px;
  overflow-y: scroll;
}

/* width */
.accordion-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.accordion-container::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  background-color: #f3f3f34b;
  border-radius: 2px;
}

/* Handle */
.accordion-container::-webkit-scrollbar-thumb {
  background: rgb(153, 153, 153);
  border-radius: 10px;
}

/* Handle on hover */
.accordion-container::-webkit-scrollbar-thumb:hover {
  background: #575757;
}

.ac-header {
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px 0px 10px 20px;
  border-radius: 4px;
}

.ac-trigger .line1 * {
  display: inline-block;
}

.ac-trigger .line2 p {
  margin-bottom: 0px;
}

.ac-trigger .bookName {
  width: 60%;
  font-size: 1.5em;
  margin-bottom: 0px;
}

.ac-trigger .countSection {
  float: right;
  position: relative;
  right: 20px;
  top: 2px;
}

.countSection .countText {
  letter-spacing: -4px;
  margin-right: 8px;
  color: #ff3333;
}

.ac-panel {
  display: none;
  padding: 0px 8px;
  margin-bottom: 50px;
}

.ac-panel p {
  margin-bottom: 0px;
  font-size: 1em;
}
.districtSpans {
  display: flex;
  flex-wrap: wrap;
}
.districtSpans span {
  font-size: 0.8em;
  margin: 5px;
  padding: 0px 20px;
  border-radius: 20px;
  background: rgba(255, 0, 0, 0.2);
}

.stateContainer {
  margin-bottom: 15px;
}

.stateContainer * {
  display: inline-block;
  vertical-align: middle;
}

.stateNameDiv {
  width: 20%;
}

.districtSpanDiv {
  width: 80%;
}

.ac-panel .bannedIn {
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  padding: 6px 20px;
  border-radius: 100px;
  background-color: #e7e7e7;
  font-weight: 900;
  font-size: 1em;
}

#bookSearchList .search {
  text-align: center;
  padding: 20px;
  font-size: 2em;
  height: 60px;
  width: 60%;
  margin: 0px auto 20px;
  display: block;
}

#banTimeline #monthYear {
  cursor: pointer;
}

.footer-section {
  text-align: center;
}

.share-container {
  margin-bottom: 60px;
}
